.page-article {
	max-width: 34em;
	margin: 0 auto 1em;
	padding: 0 1em;
	@include border-box;
	header {
		text-align: center;
		padding: 1em 0;
		h1 {
			font-family: $font-header-h1;
			font-size: 2em;
			line-height: 100%;
			outline-style: none;
			margin-bottom: 0.1em;
		}
		.description {
			font-family: $font-text-caps;
			text-transform: lowercase;
		}
		.meta {
			font-style: italic;
		}
	}
	article {
		h1 {
			position: relative;
			display: block;
			text-align: center;
			font-family: $font-header-h1;
			font-size: 1.5em;
			padding-top: 0.6667em;
			padding-bottom: 0.5em;
			margin-bottom: 0.6667em;
			&:after {
				content: "";
				position: absolute;
				left: 25%;
				right: 25%;
				bottom: 0;
				border-bottom: 4px double $color-pro-grey;
			}
		}
		h2 {
			font-family: $font-header-h1;
			font-size: 1.5em;
			padding-top: 1em;
			margin-bottom: 1em;
		}
		h3 {
			font-family: $font-text-caps-bold;
			text-transform: uppercase;
			padding-top: 1em;
			margin-bottom: 1em;
		}
		a {
			//font-weight: bold;
			border-bottom: 1px solid #1e1e1e;
			//@include border-radius(8px);
			&:after {
				//content: "\00B0";
				color: $color-pro-red;
			}
			&:hover {
				background: #fbf3f3;
			}
		}
		ul {
			li {
				margin-left: 1.5em;
				margin-bottom: 1em;
				padding-left: 1em;
				&:before {
					font-family: $font-text-index;
					content: "•";
					float: left;
					margin-left: -2.5em;
					margin-top: 0.1rem;
				}
			}
		}
		ol {
			counter-reset: list-number;
			li {
				position: relative;
				margin-left: 1.5em;
				margin-bottom: 1em;
				padding-left: 1em;
				&:before {
					position: absolute;
					font-family: $font-text-index;
					content: counter(list-number);
					counter-increment: list-number;
					margin-left: -2.5em;
					margin-top: 0.1rem;
				}
			}
		}
		p + ul,
		p + ol,
		figure + ul,
		figure + ol,
		figure + figure,
		figure + p,
		p + p,
		p + figure,
		blockquote + figure,
		blockquote + p {
			padding-top: 1em;
		}
		figure {
			margin: 0 -1em;
		}
		figcaption {
			font-size: 0.8em;
			line-height: 1.3em;
			color: gray;
			padding: 0.625em 1.25em 0;
		}
		.smallcaps {
			font-family: $font-text-caps;
			text-transform: lowercase;
		}
		.video {
			@include animation-fade-in(0.5s);
		}
		img {
			opacity: 0;
			@include transition(opacity, 0.3s, ease-in);
		}
		em {
			font-style: italic;
		}
		strong {
			font-weight: bold;
		}
		blockquote {
			background: #f0f0f0;
			padding: 0.5em 1em;
			margin-top: 1em;
		}
	}
}

@media screen and (min-width: 600px) {

	.page-article {
		margin-bottom: 2em;
		padding: 0 2em;
		header {
			padding: 2em 0;
		}
		article {
			h1 {
				padding-top: 1.3334em;
			}
			ul,
			ol {
				margin-bottom: 2em;
			}
			figure {
			margin: 0 -2em;
			}
			figcaption {
				padding: 0.625em 2.5em 0;
			}
			h2,
			p + ul,
			p + ol,
			figure + ul,
			figure + ol,
			p + figure,
			figure + p,
			figure + figure,
			blockquote + figure {
				padding-top: 2em;
			}
		}
	}

}