@font-face {
	font-family: 'Concourse C3';
	src: url('../fonts/concourse/concourse-c3.eot');
	src: url('../fonts/concourse/concourse-c3.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/concourse/concourse-c3.woff') format('woff'),
		 url('../fonts/concourse/concourse-c3.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Concourse C4';
	src: url('../fonts/concourse/concourse-c4.eot');
	src: url('../fonts/concourse/concourse-c4.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/concourse/concourse-c4.woff') format('woff'),
		 url('../fonts/concourse/concourse-c4.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Concourse C6';
	src: url('../fonts/concourse/concourse-c6.eot');
	src: url('../fonts/concourse/concourse-c6.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/concourse/concourse-c6.woff') format('woff'),
		 url('../fonts/concourse/concourse-c6.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Concourse T3';
	src: url('../fonts/concourse/concourse-t3.eot');
	src: url('../fonts/concourse/concourse-t3.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/concourse/concourse-t3.woff') format('woff'),
		 url('../fonts/concourse/concourse-t3.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Concourse T3';
	src: url('../fonts/concourse/concourse-t3-italic.eot');
	src: url('../fonts/concourse/concourse-t3-italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/concourse/concourse-t3-italic.woff') format('woff'),
		 url('../fonts/concourse/concourse-t3-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Concourse T3';
	src: url('../fonts/concourse/concourse-t3-bold.eot');
	src: url('../fonts/concourse/concourse-t3-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/concourse/concourse-t3-bold.woff') format('woff'),
		 url('../fonts/concourse/concourse-t3-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Concourse T3 Index';
	src: url('../fonts/concourse/concourse-t3-index.eot');
	src: url('../fonts/concourse/concourse-t3-index.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/concourse/concourse-t3-index.woff') format('woff'),
		 url('../fonts/concourse/concourse-t3-index.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Concourse T6';
	src: url('../fonts/concourse/concourse-t6.eot');
	src: url('../fonts/concourse/concourse-t6.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/concourse/concourse-t6.woff') format('woff'),
		 url('../fonts/concourse/concourse-t6.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Advocate C53';
	src: url('../fonts/advocate/advocate-c53.eot');
	src: url('../fonts/advocate/advocate-c53.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/advocate/advocate-c53.woff') format('woff'),
		 url('../fonts/advocate/advocate-c53.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}