@import "_fonts.scss";
@import "_resets.scss";
@import "_mixins.scss";
@import "_animations.scss";

/* Font Stacks */

$font-text-default: -apple-system, BlinkMacSystemFont, Lucida Grande, Helvetica, Arial, sans-serif;
$font-text-regular: Concourse T3;
$font-text-caps: Concourse C3;
$font-text-caps-bolder: Concourse C4;
$font-text-caps-bold: Concourse C6;
$font-text-index: Concourse T3 Index;
$font-text-slab: Advocate C53;
$font-header-h1: Concourse T6;

/* Colour Pallettes */

$color-pro-green: #C9CEC9;
$color-pro-pink: #FBF3F3;
$color-pro-grey: #CCCCCC;
$color-pro-red: #973436;

/* ------------------- */
/* General             */
/* ------------------- */

@import "_general.scss";

/* ------------------- */
/* Article Section     */
/* ------------------- */

@import "_article.scss";

/* ------------------- */
/* Projects Section    */
/* ------------------- */

@import "_projects.scss";

/* ------------------- */
/* Recommended Section */
/* ------------------- */

@import "_recommended.scss";

/* ------------------- */
/* About Section       */
/* ------------------- */

@import "_about.scss";

/* ------------------- */
/* Notes Section       */
/* ------------------- */

@import "_notes.scss";

/* ------------------- */
/* Newsletter Signup   */
/* ------------------- */

@import "_newsletter.scss"